.nav{
    border-bottom: 3px solid black;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        padding: 0 5vw;
        font-size: 2vw;
    }
    .menu{
        display: flex;
        gap:4vw;
        padding: 0 5vw;
        font-size: 1.3vw;
        
        i{
            align-self: center;
            display: none;
        }
    }
}
.menu button{
    padding: 0% 2vw;
    border-radius: 5px;
    border:none;
    font-size: 1.2vw;
    background-color: rgb(69, 165, 194);
    color:azure;
    font-weight: 700;
}
.container{
    display:flex;
    position: relative;
}
.left{
    width:50vw;
    height:calc(100vh - 110px);
    padding:5vw 5vw;
    span{
        color:rgb(23, 165, 221);
    }
    h1{
        font-size: 4.2vw;
        line-height: 4vw;
    }
    p{
        font-size: 1.5vw;
        color:orange;
        margin-bottom: 40px;
        width:80%;
    }
    button{
        padding: 1vw 2.3vw;
        border-radius: 5px;
        border:none;
        font-size: 1.2vw;
        background-color: rgb(63, 166, 197);
        color:azure;
        font-weight: 700;
    }
}
.right{
    width:45vw;
    height:calc(100vh - 110px);
    img{width:100%;
    height:100%;}
}
@media (max-width:980px){
    .nav{
        
        h1{
            font-size: 6vw;
        }
        h4{
            font-size: 5vw;
            display:none;
        }
        .menu{
             i{
            display: initial;
            font-size: 4em;
         }
         button{
            display:none;
         }
    }
}
.container{
    flex-direction: column;
    .left{
        height:40vh;
        width:80vw;
        h1{
            font-size: 6.8vw;
            line-height: 7vw;
            padding-left: 1vw;
        }
        p{
            font-size: 3.8vw;
            margin-bottom: 6vw;
        }
        button{
            padding: 2vw 6vw;
            font-size: 3vw;
        }
    }
    .right{
        background-color: blue;
        height:40vh;
        width:100vw;
    }
}
}